table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.invoiceContainer {
  padding: 1rem;
}
.logoinvoice {
  display: flex;
  justify-content: space-between;
  line-height: normal;
}
p {
  font-size: 1rem;
  line-height: 0.3;
}
.senderadd {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.printbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media print {
  th {
    border: 1px solid #858383;
  }
  tr:nth-child(even) {
    background-color: #faf6f6;
  }

  .invoiceContainer {
    color: black;
  }
}
